@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@tailwind utilities;
@tailwind base;
@tailwind components;

html {
  overscroll-behavior: none;
}

input:focus {
  outline: none;
}

h1,
h2 {
  font-family: 'Oswald', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
